@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 1em;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
  line-height: 1.7;
  padding: 1.5em;
}

p, th, td, dt, dd, li {
  text-align: justify;
}

p {
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
  text-indent: 1em;
}
p.noindent {
  text-indent: 0;
}
p.flushright {
  text-indent: 0;
  text-align: right;
}
p.caption {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  text-indent: 0;
  font-weight: bold;
}
p.title {
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "MS-Gothic", sans-serif;
  font-weight: bold;
  text-indent: 0;
}
p.dedication {
  margin-top: 4ex;
  text-indent: 0;
  text-align: center;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
  font-style: italic;
  font-size: 1.2em;
}

li p {
  text-indent: 0;
}

blockquote {
  margin-left: 2em;
}

blockquote p {
  text-indent: 0;
}

h1 {
  text-align: right;
  font-size: 2.6em;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "MS-Gothic", sans-serif;
  font-weight: bold;
  border-top: 1px black solid;
  padding-top: 0.5ex;
  padding-bottom: 4ex;
  font-weight: bold;
}

div.part h1 {
  border-top: none;
  padding-bottom: 0;
}

h2 {
  text-align: left;
  border-top: none;
  font-size: 2em;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "MS-Gothic", sans-serif;
  font-weight: bold;
  padding-top: 0.4ex;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 1.5ex;
}

h3 {
  font-size: 1.6em;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "MS-Gothic", sans-serif;
  font-weight: bold;
  padding-top: 0.2ex;
  padding-bottom: 0;
  margin-top: 1.5ex;
}
h3.author, h3.othercredit {
  font-size: 0.9em;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
}
h3.enauthor {
  text-align: right;
  font-size: 1.3em;
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
  font-style: italic;
}

h4 {
  font-size: 1.4em;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: bold;
  padding-top: 0.2ex;
  padding-bottom: 0;
  margin-top: 1.5ex;
}

div.footnotes hr {
  border: 1px silver dotted;
}

span.footnotemark, a.noteref {
  vertical-align: super;
  font-size: 0.6em;
}

sup {
  font-size: 0.83em;
  vertical-align: super;
}

sub {
  font-size: 0.83em;
  vertical-align: sub;
}

div.footnote {
  margin-top: 1ex;
  margin-bottom: 1ex;
  background-color: #e6e6e6;
}
div.footnote p {
  font-size: 0.8em;
  text-indent: 0;
}

div.table {
  margin-bottom: 3ex;
}

div.table table {
  border-collapse: collapse;
  border: 1px gray solid;
}
div.table table th {
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: silver;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  text-indent: 0;
  border-left: solid 1px;
  border-right: solid 1px;
}
div.table table th p {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: bold;
  text-indent: 0;
}
div.table table td {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: normal;
  font-size: 0.9em;
  text-indent: 0;
  border-bottom: 1px gray solid;
  border-left: solid 1px;
  border-right: solid 1px;
}
div.table table td p {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: normal;
  text-indent: 0;
}

th.left, td.left {
  text-align: left;
}
th.center, td.center {
  text-align: center;
}
th.right, td.right {
  text-align: right;
}
th.top, td.top {
  vertical-align: top;
}
th.middle, td.middle {
  vertical-align: middle;
}
th.bottom, td.bottom {
  vertical-align: bottom;
}

div.note table, div.caution table, div.warning table, div.tip table, div.memo table {
  margin-right: 4em;
  margin-top: 1.5ex;
  margin-bottom: 1.5ex;
}
div.note table td, div.caution table td, div.warning table td, div.tip table td, div.memo table td {
  vertical-align: top;
  padding-right: 0.8em;
}
div.note table td p, div.caution table td p, div.warning table td p, div.tip table td p, div.memo table td p {
  text-indent: 0;
  font-size: 0.9em;
}
div.note table ul, div.note table ol, div.caution table ul, div.caution table ol, div.warning table ul, div.warning table ol, div.tip table ul, div.tip table ol, div.memo table ul, div.memo table ol {
  font-size: 0.9em;
}

div.note table:first-child tr:first-child td:first-child, div.caution table:first-child tr:first-child td:first-child, div.warning table:first-child tr:first-child td:first-child, div.tip table:first-child tr:first-child td:first-child, div.memo table:first-child tr:first-child td:first-child {
  width: 4.5rem;
}

img.noteicon, img.warningicon, img.tipicon, img.memoicon {
  width: 4rem;
  margin-top: -0.5em;
}

span.chapno {
  color: gray;
}

div.legalnotice p {
  font-size: 0.8em;
  padding-top: 2ex;
  text-indent: 0;
}

div.colophon h1.title {
  text-align: left;
  font-size: 1.3em;
  border-top: none;
  padding-bottom: 0;
}

div.colophonp p {
  text-indent: 0;
}

table.colophon {
  border: none;
}
table.colophon td {
  font-size: 1em;
}
table.colophon td.title {
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "MS-Gothic", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
}
table.colophon span.subtitle {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
}

div.author h3 {
  font-size: 1.4em;
  padding-top: 0;
}
div.author h4 {
  font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
  font-size: 1.4em;
  padding-bottom: 0;
  margin-bottom: 0;
}

div.coverpage h1.title {
  text-align: center;
  font-size: 2.6em;
  border-top: none;
  padding-top: 0.4ex;
  padding-bottom: 6ex;
}
div.coverpage h1.titlewithsub {
  text-align: center;
  font-size: 2.6em;
  border-top: none;
  padding-top: 0.4ex;
  padding-bottom: 0;
  margin-bottom: -0.5ex;
}
div.coverpage h1.entitle {
  text-align: right;
  font-size: 2.6em;
  border-top: 1px black solid;
  padding-top: 0.4ex;
  padding-bottom: 6ex;
}
div.coverpage h2.subtitle {
  text-align: center;
  font-size: 2em;
  border-top: none;
  padding-top: 0;
  padding-bottom: 10ex;
}
div.coverpage h3.author {
  text-align: center;
}

div.footer {
  font-size: 0.9em;
  margin-top: 30ex;
  text-align: center;
}
div.footer img {
  height: 6ex;
}

div.enfooter {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 40ex;
  text-align: right;
}
div.enfooter img {
  height: 4ex;
}

pre {
  font-family: Consolas, "Courier New", "Courier", Monaco, "Nimbus Mono L", monotype, monospace, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-size: 0.9em;
  margin-left: 2em;
  white-space: pre-wrap;
}
pre.programlisting {
  margin-left: 0;
}
pre.dummyimage {
  background-color: #c80000;
  border: 2px yellow solid;
}
pre b {
  font-family: Consolas, "Courier New", "Courier", Monaco, "Nimbus Mono L", monotype, monospace, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
}
pre i {
  font-style: oblique;
}

tt, code {
  font-family: Consolas, "Courier New", "Courier", Monaco, "Nimbus Mono L", monotype, monospace, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
}
tt b, code b {
  font-family: Consolas, "Courier New", "Courier", Monaco, "Nimbus Mono L", monotype, monospace, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
}
tt i, code i {
  font-family: Consolas, "Courier New", "Courier", Monaco, "Nimbus Mono L", monotype, monospace, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-style: oblique;
}

dt {
  margin-top: 0.4ex;
}
dt p {
  text-indent: 0;
}

dd {
  margin-left: 2em;
}
dd p {
  text-indent: 0;
}

dl {
  margin-top: 3ex;
  margin-bottom: 3ex;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin-top: 3ex;
  margin-bottom: 3ex;
  padding-left: 3em;
}
ul p {
  text-indent: 0;
}

ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin-top: 3ex;
  margin-bottom: 3ex;
  padding-left: 3em;
}

ol.abc {
  list-style-type: lower-alpha;
}

img.max {
  max-width: 80%;
}

dt img {
  width: 4em;
  margin-top: -0.5em;
}

div.image {
  margin-top: 3ex;
}

div.caption-code, div.emlist-code, div.emlistnum-code, div.cmd-code, blockquote {
  margin-top: 3ex;
  margin-bottom: 3ex;
}

div.lead, div.lead p {
  text-indent: 0;
  text-align: right;
  margin-left: 10em;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-size: 0.8em;
}

h5.special-author {
  text-align: right;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-size: 1.2em;
  margin-top: -8ex;
  margin-bottom: 10ex;
}

div.epigraph {
  text-indent: 0;
  text-align: right;
  font-size: 0.8em;
}

div.image img {
  border: 1px black solid;
  max-width: 68%;
  padding: 0.5em;
  margin-right: 0.5em;
}
div.image img.noborder {
  border: none;
  padding: 0.2em;
}

div.image p.caption img {
  border: none;
  padding: 0;
  margin-right: 0;
}

div.table p.caption {
  margin-top: 4ex;
  margin-bottom: 1ex;
}

div.image p.caption {
  margin-top: 1ex;
  margin-bottom: 4ex;
}

div.column, div.sidebar {
  border: 1px black solid;
  padding: 1em;
  margin-top: 3ex;
  margin-bottom: 3ex;
}

div.column h5, div.sidebar h5.title {
  font-size: 1.2em;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.6ex;
}

div.column h3 {
  font-size: 1.4em;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "MS-Gothic", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.6ex;
  margin-top: 0.1ex;
}

div.column h4 {
  font-size: 1.4em;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "MS-Gothic", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.6ex;
  margin-top: 0.1ex;
}

span.term {
  font-style: normal;
}
span.emphasis {
  font-style: normal;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
}
span.italic {
  font-style: italic;
}
span.red {
  color: red;
}
span.javascript {
  background-color: #000040;
  color: white;
  padding: 0.2em;
}
span.labellink {
  font-size: 0.7em;
  margin-left: 2em;
}
span.pageref {
  font-size: 0.6em;
  vertical-align: bottom;
}
span.bou {
  text-emphasis-style: filled dot;
  -webkit-text-emphasis-style: filled dot;
}

em.replaceable {
  font-family: Consolas, "Courier New", "Courier", Monaco, "Nimbus Mono L", monotype, monospace, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-style: italic;
}

strong, b {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: bold;
}

div.draft-comment, p.remark, p.comment, span.remark, span.draft-comment {
  color: red;
  background-color: #ffc0c0;
  font-size: 0.9em;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
}

div.adv div.book h3.adv {
  font-size: 1.4em;
  font-family: "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "MS-Gothic", sans-serif;
  font-weight: bold;
  padding-top: 0.2ex;
  padding-bottom: 0;
  margin-bottom: 0;
}
div.adv img.adv {
  width: 14.4em;
  float: left;
  margin-right: 1em;
  border: none;
}
div.adv ul {
  list-style: none;
  margin-top: 0;
}
div.adv ul li {
  line-height: 140%;
}

br.clearall {
  clear: both;
}

span.math-normal {
  font-style: normal;
}

span.math-italic-topbar {
  font-style: italic;
  border-top: 1px black solid;
  padding-top: 0;
}

span.equation, div.equation {
  font-family: times, "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
}
span.equation i, div.equation i {
  font-style: italic;
}
span.equation i b, div.equation i b {
  font-family: times, "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
}
span.equation img, div.equation img {
  vertical-align: middle;
  display: inline;
}

div.equation {
  margin-top: 3ex;
  margin-bottom: 3ex;
  margin-left: 4em;
}
div.equation img.height4 {
  height: 4em;
}
div.equation p.caption {
  margin-left: -4em;
}

p.eqno {
  text-align: right;
  margin-top: -2em;
  margin-right: 4em;
}

img.equation {
  vertical-align: middle;
  display: inline;
}

span.equation-large img {
  vertical-align: middle;
  height: 2em;
  display: inline;
}

span.hbar {
  letter-spacing: -2px;
  margin-right: 2px;
}

div.revision {
  text-align: right;
  font-size: 0.8em;
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  color: #000050;
  border: 1px black solid;
  padding: 0.5em;
}

nav ol {
  list-style-type: none;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 0;
  padding-left: 0;
}
nav ol ol {
  margin-left: 2rem;
}
nav ol ol ol {
  margin-left: 2rem;
}


i {
   font-style: italic;
   font-family: times, "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "MS-Mincho", serif;
}
span.ami {
   background: #ccc;
}
h5 {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro W3", "ヒラギノ角ゴ ProN W6", "HiraKakuProN-W6", "MS-Gothic", sans-serif;
  font-weight: bold;
  margin-top: 1.5ex;
}


div.note, div.caution, div.warning, div.tip, div.memo {
  padding: 0 2em 0 4.5rem;
  position: relative;
  margin-top: 1.5ex;
  margin-bottom: 1.5ex;
  font-size: 0.9em;
}
div.note p, div.caution p, div.warning p, div.tip p, div.memo p {
  text-indent: 0;
}
